<h1>About Me</h1>

<p>
    Just a little bit about me. I spent 16 years as a forensic scientist specializing
    in DNA analysis. I am currently a student in the .NET Backend Engineering course
    at The Iron Yard Houston.
</p> 