
<!--<div>
    <h1>Hello @ViewBag.Username from a view</h1>
    <p>@Model</p>
</div>-->

<div>
    <h1>Home Page</h1>
</div>

<div>
    <a href="/about">About Me</a> | 
    <a href="/blog">Recent Blog Posts</a>
</div>

