@model Post

Add Post:
<hr>
<form asp-controller="Post" asp-action="Create">
    <p>
        <label asp-for="Title"></label><br>
        <input asp-for="Title">
    </p>
    <p>
        <label asp-for="Content"></label><br>
        <textarea asp-for="Content"></textarea>
    </p>
    <button type="submit">Submit</button>
</form>